* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#btnReveal1,
#btnReveal2,
#btnReveal3 {
  display: none;
}

a {
  text-decoration: none;
  font-size: 17px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

#btnReveal1 {
  text-shadow: 0 0 5px rgb(233, 8, 8), 0 0 10px rgb(233, 8, 8), 0 0 15px rgb(233, 8, 8), 0 0 20px rgb(233, 8, 8);
}

#btnReveal1:hover {
  color: #fa8072;
  text-shadow: 0 0 5px rgb(233, 8, 8), 0 0 10px rgb(233, 8, 8), 0 0 15px rgb(233, 8, 8), 0 0 20px rgb(233, 8, 8);
}

#btnReveal2 {
  text-shadow: 0 0 5px rgb(25, 228, 7), 0 0 10px rgb(25, 228, 7), 0 0 15px rgb(25, 228, 7), 0 0 20px rgb(25, 228, 7);
}

#btnReveal2:hover {
  color: #90ee90;
  text-shadow: 0 0 5px rgb(25, 228, 7), 0 0 10px rgb(25, 228, 7), 0 0 15px rgb(25, 228, 7), 0 0 20px rgb(25, 228, 7);
}

#btnReveal3 {
  text-shadow: 0 0 5px rgb(7, 213, 228), 0 0 10px rgb(7, 213, 228), 0 0 15px rgb(7, 213, 228), 0 0 20px rgb(7, 213, 228);
}

#btnReveal3:hover {
  color: #87cefa;
  text-shadow: 0 0 5px rgb(7, 213, 228), 0 0 10px rgb(7, 213, 228), 0 0 15px rgb(7, 213, 228), 0 0 20px rgb(7, 213, 228);
}



main {
  margin: 0 auto;
  padding: 0 40px;
  background-color: black;
}

.card {
  margin-bottom: 10px;
  min-height: 170px;
  background-color: black;
  cursor: pointer;
  display: flex;
}

.card-title {
  font-weight: bold;
  font-size: 18px;
  padding-bottom: 10px;
}

p {
  margin: 0;
  padding: 0;
  text-align: justify;
}

.container1,
.container2,
.container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

h1 {
  font-family: 'Star Wars', sans-serif;
  text-align: center;
  /* color: #ffe81f; */
  color: white;
  /* text-shadow: 0 0 5px rgb(246, 234, 8), 0 0 10px rgb(246, 234, 8); */
  margin: 20px 0;

}

.container1 .card {
  border: 2px solid #fa8072;
  border-radius: 10px;
  color: #c5c6c8;
}

.container1 .card:hover {
  border: 2px solid #fa8072;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 5px #fa8072,
    0 0 10px #fa8072;
  background-color: #fa8072;
}

.container2 .card {
  border: 2px solid #90ee90;
  border-radius: 10px;
  color: #c5c6c8;
}

.container2 .card:hover {
  border: 2px solid #90ee90;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 5px #90ee90,
    0 0 10px #90ee90;
  background-color: #90ee90;
}

.container3 .card {
  border: 2px solid #87cefa;
  border-radius: 10px;
  color: #c5c6c8;
}

.container3 .card:hover {
  border: 2px solid #87cefa;
  border-radius: 10px;
  color: black;
  box-shadow: 0 0 5px #87cefa,
    0 0 10px #87cefa;
  background-color: #87cefa;
}